/* Katie Shaw, Nov 2017 */
/* Breakpoints: 992px; */

/* Fonts */

@font-face {
    font-family: Proxima N Reg;
    src: url('../fonts/ProximaNova-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Proxima N Light;
    src: url('../fonts/ProximaNova-Light.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Bebas N;
    src: url('../fonts/BebasNeue.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Playfair Reg;
    src: url('../fonts/PlayfairDisplay-Regular.ttf');
    font-weight: normal;
}




/* Global */
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: #414042;
}


/* Intro */
#intro {
  color: #fff;
  width: 100%;
  float: none;
  margin: 0 auto;
  text-align: center;
  font-family: Proxima N Light;
  font-weight: 400;
}

#intro span {
    opacity: 0.5;
}



@media (min-width: 992px) {
  #intro {
    max-width: 820px;
    padding: 70px 0 0 0;
    font-size: 2em;
    letter-spacing: 0;
    line-height: 1.3em;
  }
}

@media (max-width: 991px) {
  #intro {
    max-width: 80%;
    padding: 82px 0 80px 0;
    font-size: 2.35em;
    letter-spacing: -0.01em;
    line-height: 1.2em;
  }
}

@media (max-width: 537px) {
  #intro {
    font-size: 2em;
  }
}





/* Controls */

@media (min-width: 992px) {
  #control-mob { display: none; }

  #control {
    text-align: center;
    color: #fff;
    padding: 0;
    position: relative;
    width: 957px;
    margin: 0 auto;
    float: none;
  }

  #control .back {
    position: absolute;
    top: 370px;
    left: 90px;
    z-index: 10;
    cursor: pointer;
  }

  #control .forward {
    position: absolute;
    top: 370px;
    right: 90px;
    z-index: 10;
    cursor:pointer;
  }
}

@media (max-width: 991px) {
  #control { display: none; }

  #control-mob {
    text-align: center;
    font-family: Proxima N Reg;
    font-weight: 400;
    font-size: 0.9em;
    color: #fff;
    margin: 40px 0;
    padding: 5px 0;
  }

  #control-mob span {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px 0 0 0;
    margin: 0 5px;
    box-sizing: border-box;
    display: inline-block;
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 50%;
    cursor:pointer;
  }

  #control-mob span:nth-child(2) {
    padding-left: 1px;
  }

  #control-mob span:hover, 
  #control-mob span.active {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.5);
    color: #414042;
  }
}




 /* Carousel */
@media (min-width: 992px) {
  #carousel {
    width: 957px;
    height: 621px;
    padding: 0;
    position: relative;
    margin: 80px auto 0 auto;
    float: none;
  }

  .panel {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 80px 1px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 80px 1px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 80px 1px rgba(0,0,0,0.8);
  }

  .panel.left {
    height: 467px;
    width: 372px;
    position: absolute;
    top: 90px;
    left: 0;
    opacity: 0.5;
    z-index: 0;
  }

  .panel.focus {
    height: 621px;
    width: 537px;
    position: absolute;
    top: 0;
    left: 210px;
    opacity: 1;
    z-index: 1;
  }

  .panel.right {
    height: 467px;
    width: 372px;
    position: absolute;
    top: 90px;
    left: 585px;
    opacity: 0.5;
    z-index: 0;
  }

}

@media (max-width: 991px) {
  #carousel {
    width: 100%;
    max-width: 577px;
    padding: 0;
    margin: 0 auto;
    float: none;
    position: relative;
    display: block;
  }

  .panel {
    background-color: #fff;
    width: 90%;
    max-width: 577px;
    float: none;
    margin: 0 auto;
    padding: 0 0 30px 0;
    position: relative;
    display: none;
  }

  .panel.focus { display: block !important; }
}




/* Panel Content */
.panel .feature-img {
  float: left;
  margin: 0;
  padding: 0;
}

.panel h1 {
  float: left;
  color: #414042;
  font-family: Playfair Reg;
  font-weight: 400;
}

.content {
  color: #808082;
  font-family: Proxima N Reg;
  font-weight: 400;
  margin: 0;
}

.panel .btn {
  background: #f77d30;
  background-image: url('../images/btn-fade.png');
  background-repeat: no-repeat;
  background-size: 100% 50%;
  display: block;
  float: left;
  font-family: Bebas N;
  font-weight: 400;
  letter-spacing: 0em;
  color: #fff;
  margin: 0;
  -webkit-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
  cursor: pointer;
}

.panel .btn:hover {
  background-color: #0dc0d4;
}

@media (min-width: 992px) {
  .panel .feature-img {
    width: 100%;
    height: auto;
    max-width: 537px;
  }

  .panel.focus h1 {
    padding: 30px 20px 15px 40px;
    margin: 0;
    font-size: 1.95em;
    letter-spacing: -0.015em;
  }

  .panel.left h1, 
  .panel.right h1 {
    padding: 5px 16px;
    font-size: 1.4em;
    letter-spacing: 0em;
  }

  .panel.focus .content {
    font-size: 1.3em;
    letter-spacing: 0.0em;
    line-height: 1.4em;
    padding: 0 40px;
  }

  .panel.left .content, 
  .panel.right .content {
    font-size: 1em;
    letter-spacing: 0.02;
    line-height: 1.2em;
    padding: 0 16px;
  }

  .panel.focus .btn {
    padding: 10px 52px;
    font-size: 2em;
    position: absolute;
    bottom: 40px;
    left: 36px;
  }

  .panel.left .btn, 
  .panel.right .btn {
    padding: 5px 40px;
    margin: 0;
    font-size: 1.4em;
    position: absolute;
    bottom: 25px;
    left: 25px;
  }
}

@media (max-width: 991px) {
  .panel .feature-img {
    width: 537px;
    max-width: 100%;
  }

  .panel h1 {
    font-size: 2.5em;
    margin: 25px 30px 18px 30px;
    line-height: 1.2em;
    letter-spacing: 0em;
  }

  .content {
    color: #414042;
    font-size: 1.5em;
    letter-spacing: 0em;
    line-height: 1.4em;
    padding: 0;
    margin: 0 30px;
  }

  .panel .btn {
    padding: 20px;
    margin: 20px auto 0 auto;
    font-size: 2.5em;
    letter-spacing: 0.01em;
    text-align: center;
    width: 88%;
    box-sizing: border-box;
    float: none;
  }
}

@media (max-width: 537px) {
  .panel h1 {
    font-size: 1.8em;
  }

  .panel .content {
    font-size: 1.4em;
  }
}








/* Counter */
#countup-wrapper {
  display: inline-block;
  position: absolute;
  top: 0;
  opacity: 0;
}

.countup {
  background-color: #f77d30;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  color: #fff;
  font-family: Bebas N;
  font-weight: 400;
}

.corner {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 12px 12px;
  border-color: transparent transparent #9b4907 transparent;
  float: left;
  margin: 0;
}

@media (min-width: 992px) {
  #countup-wrapper {
      width: 186px;
      height: 100px;
      right: 35px;
      margin: -12px 0 0 0;
  }

  .countup {
    width: 174px;
    padding: 15px 22px;
  }

  .countup .number {
    font-size: 3.8em;
    letter-spacing: -0.01em;
  }

  .countup p {
    font-size: 1.2em;
    line-height: 1em;
    letter-spacing: 0.02em;
    padding: 0;
    margin: -5px 0 0 3px;
  }
}

@media (max-width: 991px) {
  #countup-wrapper {
      width: 170px;
      height: 100px;
      right: 5px;
      margin: -12px 0 0 0;
  }

  .countup {
    padding: 10px 20px;
  }

  .countup .number {
    font-size: 2.9em;
    letter-spacing: -0.01em;
  }

  .countup p {
    font-size: 0.9em;
    line-height: 1em;
    letter-spacing: 0.02em;
    padding: 0;
    margin: -5px 0 0 3px;
  }
}