
/* Katie Shaw, Nov 2017 - */
/*Breakpoints: 480px, 768px, 1300px; */

/* Fonts */
@font-face {
    font-family: Proxima N Reg;
    src: url('../fonts/ProximaNova-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Proxima N Light;
    src: url('../fonts/ProximaNova-Light.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Bebas N;
    src: url('../fonts/BebasNeue.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Playfair Reg;
    src: url('../fonts/PlayfairDisplay-Regular.ttf');
    font-weight: normal;
}




/* Global */

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

#content-wrapper {
	width: 100%;
	max-width: 1650px;
	float: none;
	margin: 0 auto;
}






/* Video Panel Wrapper */
#video-wrapper {
	width: 100%;
	box-sizing: border-box;
	background: #fff;
	background-image: url('../images/vid-static.jpg');	
	background-repeat: no-repeat;
	padding: 0;
	position: relative;
	color: #fff;
}

@media (min-width: 1300px) { 
	#video-wrapper {
		background-position: top -190px right 0; 
		float: left;
		margin: 0;
		min-height: 902px;
		overflow: hidden;
	}	 
}

@media (min-width: 768px) and (max-width: 1299px) {
	#video-wrapper {
		background-image: url('../images/vid-static-lge.jpg');
		background-position: top right;
		float: left;
		margin: 0;
		min-height: 665px;
		overflow: hidden;
	}	
}

@media (min-width: 480px) and (max-width: 767px) {
	#video-wrapper {
		background-image: url('../images/vid-static-med.jpg');
		background-position: top 0 right 0; 
		float: left;
		margin: 0;
	}
}

@media (max-width: 479px) { 
	#video-wrapper {
		background-image: url('../images/vid-static-mob.jpg');
		background-position: top 0 right 0; 
		float: left;
		margin: 0;
	}	 
}







/* CTA */
#cta-wrapper {
	float: none;
	margin: 0 auto;
	position: relative;
}

#cta {
	position: relative;
	float: none;
	cursor: pointer;
	margin: 5px;
    -webkit-transition-property: height, width;
    -webkit-transition-duration: 0.2s; 
    transition-property: height, width;
    transition-duration: 0.2s;
    text-align: center;
    z-index: 200;
    text-align: center;
}

#cta:hover {
	transform: scale(1.2);
}

#cta .play-btn-circle { /* load animation */
  	stroke-dasharray: 339.292;
  	stroke-dashoffset: 339.292;
	animation: progress 1s alternate;
	-webkit-animation: progress 1s alternate;
  	animation-fill-mode: forwards;
    animation-iteration-count: 1;
    color: red;
}

#cta .arrow {
	float: none;
	position: relative;
	display: block;
}

@-webkit-keyframes progress {
	from { stroke-dashoffset: 339.292; }
  	to { stroke-dashoffset: 0; }
}

@keyframes progress {
	from { stroke-dashoffset: 339.292; }
	to { stroke-dashoffset: 0; }
}


@media (min-width: 1300px) { 
	#cta-wrapper {
		height: 166px;
		width: 166px;
		padding: 365px 0 0 0;
	}

	#cta {
		height: 156px;
		width: 156px;
		transition: all 0.6s ease-in-out;
	}

	#cta .arrow {
		margin: -115px auto 0 15px;
		font-size: 4em;
	}
}

@media (min-width: 768px) and (max-width: 1299px) {
	#cta-wrapper {
		height: 166px;
		width: 166px;
		padding: 265px 0 0 250px;
	}

	#cta {
		height: 156px;
		width: 156px;
		transition: all 0.6s ease-in-out;
	}

	#cta .arrow {
		margin: -115px auto 0 15px;
		font-size: 4em;
	}
}

@media (max-width: 767px) { 
	#cta-wrapper {
		height: 84px;
		width: 84px;
		padding: 110px 0 0 0;
	} 

	#cta {
		height: 74px;
		width: 74px;
		transition: all 0.6s ease-in-out;
	}

	#cta .arrow {
		font-size: 2em;
		margin: -56px auto 0 8px;
	}

}



/* Headings */
.content h1 {
	font-family: Bebas N;
	font-weight: 400;
	display: block;
}

.content h2 {
	font-family: Bebas N;
	font-weight: 400;
	display: block;
	background-color: #fd7d30;
}

@media (min-width: 1300px) {
	.content h1 {
		max-width: 400px;
		position: absolute;
		top: 349px;
		left: 114px;
		padding: 0;
		margin: 0;
		font-size: 3.75em;
		letter-spacing: 0.005em;
		line-height: 1.24em;
	}

	.content h2 {
		font-size: 3.8em;
		letter-spacing: 0em;
		position: absolute;
		padding: 7px 20px 3px 18px;
		margin: 0;
		top: 507px;
		left: 117px;
		max-width: 400px;
	}
}

@media (min-width: 768px) and (max-width: 1299px) { 
	.content h1 {
		max-width: 400px;
		position: absolute;
		top: 280px;
		left: 60px;
		padding: 0;
		margin: 0;
		font-size: 3.5em;
		letter-spacing: 0.005em;
		line-height: 1.14em;
	}

	.content h2 {
		font-size: 3.5em;
		letter-spacing: 0em;
		position: absolute;
		padding: 7px 20px 3px 18px;
		margin: 0;
		top: 420px;
		left: 60px;
		max-width: 400px;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.content h1 {
		position: relative;
		float: left;
		margin: 30px 0 0 20px;
		padding: 0;
		font-size: 2.6em;
		letter-spacing: -0.015em;
	}

	.content h2 {
		position: relative;
		float: left;
		margin: 10px 0 50px 20px;
		padding: 3px 10px;
		clear: left;
		font-size: 2.5em;
		letter-spacing: 0;
	}
}

@media (max-width: 479px) {
	.content h1 {
		position: relative;
		float: left;
		margin: 20px 0 0 20px;
		padding: 0;
		font-size: 1.98em;
		letter-spacing: -0.015em;
	}

	.content h2 {
		position: relative;
		float: left;
		margin: 5px 0 20px 20px;
		padding: 3px 10px;
		clear: left;
		font-size: 1.9em;
		letter-spacing: 0;
	}
}



/* Warning */
.warning {
	font-family: Proxima N Light;
	font-weight: 400;
}

@media (min-width: 768px) { 
	.warning {
		font-size: 1.5em;
		letter-spacing: 0.02em;
		position: absolute;
		padding: 0;
		margin: 0;
		bottom: 47px;
		left: 46px;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.warning {
		position: relative;
		float: left;
		margin: 10px 0 0 25px;
		padding: 7px 0 10px 15px;
		opacity: 0.7;
		font-size: 1em;
		letter-spacing: -0.02em;
		line-height: 1.15em;
		max-width: 200px;
		border-left: 1px solid rgba(255, 255, 255, 0.5);
	}
}

@media (max-width: 479px) { 
	.warning {
		position: relative;
		float: left;
		margin: 5px 0 0 12px;
		padding: 5px 0 3px 12px;
		opacity: 0.7;
		font-size: 0.83em;
		letter-spacing: -0.02em;
		line-height: 1.15em;
		max-width: 135px;
		border-left: 1px solid rgba(255, 255, 255, 0.5);
	}
}




/* Credit */
.credit {
	font-family: Proxima N Light;
	font-weight: 400;
}

@media (min-width: 768px) { 
	.credit {	
		font-size: 0.8em;
		letter-spacing: 0.02em;
		text-align: right;
		opacity: 0.6;
		position: absolute;
		padding: 0;
		margin: 0;
		bottom: 21px;
		right: 18px;
	}
}

@media (max-width: 767px) { 
	.credit {
		position: absolute;
		font-size: 0.5em;
		opacity: 0.9;
		top: 100px;
		right: -80px;
		color: #000;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);	
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
}





/* Starter kit */
#kit-wrapper {
	background: #fd7d30;
	width: 100%;
	float: left;
	display: block;
	padding: 0;
	z-index: 1;
}

#kit {
	width: 100%;
	display: block;
	float: none;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

#kit img {
	z-index: 1;
}

#kit p {
	text-align: center;
	float: none;
	margin: 0 auto;
	font-family: Proxima N Light;
	font-weight: 400;
	color: #fff;
	font-size: 1.6em;
	clear: both;
	line-height: 1.2em;
}

#kit .btn-wrapper {
	width: 100%;
	display: block;
	float: none;
}

#kit .btn {
	display: block;
	background-color: #49c9cc;
	background-image: url('../images/btn-fade.png');
  	background-repeat: no-repeat;
  	background-size: 100% 50%;
  	float: none;
  	margin: 0 auto;
  	max-width: 350px;
  	padding: 10px;
  	box-sizing: border-box;
    font-family: Bebas N;
  	font-weight: 400;
  	letter-spacing: 0em;
  	font-size: 2em;
  	color: #fff;
    -webkit-transition: background-color 0.4s linear;
  	transition: background-color 0.4s linear;
  	text-align: center;
  	cursor: pointer;
}

#kit .btn:hover {
	background-color: #59b244;
}

#whitespace-wrapper {
	background-color: #fff;
	width: 100%;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	z-index: 2;
}

#whitespace {
	height: 100px;
	width: 100%;
	max-width: 1650px;
	height: 800px;
	background: #fff;
	z-index: 2;
	float: left;
	position: relative;
}

@media (min-width: 1300px) {
	#kit {
		min-height: 205px;
		max-width: 1650px;
	}

	#kit p {
		padding: 50px 0 30px 0;
	}

	#kit img {
		position: absolute;
		bottom: 0;
		left: 100px;
	}
}

@media (min-width: 768px) and (max-width: 1299px) {
	#kit { min-height: 200px; }

	#kit img {
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 30%;
	}

	#kit p {
		float: left;
		margin: 40px 0 0 30%;
		width: 70%;
		//max-width: 400px;
	}

	#kit .btn-wrapper {
		float: left;
		display: inline-block;
		clear: both;
		width: 70%;
		//max-width: 400px;
		margin: 20px 0 0 30%;
	}
}

@media (max-width: 767px) { 
	#kit p {
		padding: 40px 0 20px 0;
		width: 90%;
		max-width: 300px;
		float: none;
		margin: 0 auto;
		line-height: 1.2em;
		font-size: 1.8em;
	}

	#kit img {
		float: none;
		margin: 0 auto;
		width: auto;
		max-width: 90%;
		height: auto;
		display: block;
	}

	#kit .btn-wrapper {
		background-color: #0dc0d4;
		width: 100%;
		float: left;
		margin: 0;
		padding: 20px;
		box-sizing: border-box;
	}
}





/* Video popup */
#video-popup {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	z-index: 500;
	opacity: 1;
	display: none;
}

#video-embed {
	float: none;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	max-width: 1650px;
	max-height: 902px;
	overflow: hidden;
	opacity: 0;
}

#overlay {
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	display: none;
	z-index: 499;
}